# By default it will ignore empty folders
# Don't use extra spaces in front of code.
# ignoring parents and ancestors files or directories not working
# -----------------------files and directories-------------------------------------
# used to ignore all files and directories of main directory
#/*
# used to ignore all files and directories in child directories
#/*/
# used to ignore all files and directories in grandchild directories
#/*/*/
# ---------------------------- directories------------------------------------------
# used to ignore all directories of main directory
#/*/
# used to ignore all directories in child directories
#/*/*/
# used to ignore all directories in grandchild directories
#/*/*/*/
# -----------------------------------files------------------------------------------
# used to ignore all files of the main directory.
#/*
#!/*/
# used to ignore all files in child directories.
# No solution.
# used to ignore all files in grandchild directories.
# No solution.
# --------------------------------regardless of location-----------------------------
# used to ignore all files and directories regardless of their location (in side of main directory)
#*
# used to ignore all directories,but not files regardless of their location
# No solution.
# used to ignore all files and directories regardless of their location
# No solution.
# ------------------------------------------------------------------------------------

# used to ignore this extension pattern files, regardless of their location.
#*.txt
# used to ignore the folder named 'temp' when it is in main directory
#/temp
#/temp/
# used to ignore any folder named 'temp', regardless of its location.
#temp
#temp/
# used to ignore 
#*/
# used to ignore only '.gitignore' file
#.gitignore
# --------------------------------folder name-----------------------------------------
# used to ignore folder named 'test' in main directory
#/test
# used to ignore all folders named 'test' in child directory
#/*/test
# used to ignore all folders named 'test' in grandchild directory
#/*/*/test
#/same-folder/child-folder/grandchild
# used to ignore all folders named 'test', regardless of their location.
#test
# --------------------------------file name-----------------------------------------
# used to ignore file named 'test.js' in main directory
#/test.js
# used to ignore all file named 'test.js' in child directory
#/*/test.js
# used to ignore all file named 'test.js' in grandchild directory
#/*/*/test.js
#/same-folder/child-folder/Good1.js
# used to ignore all files named 'test.js', regardless of their location.
#test.js
# -------------------------------Pattern--------------------------------------------
# used to ignore all file with extension '*.js' in main directory
#/*.js
# used to ignore all file with extension '*.js' in child directory
#/*/*.js
# used to ignore all file with extension '*.js' in grandchild directory
#/*/*/*.js
# used to ignore all files with extension '*.js', regardless of their location.
#*.js
# -------------------------------don't ignore----------------------------------------
# don't ignore this file
#!.gitignore
